MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=rareza
MYSQL_PASSWORD=rareza_secret
MYSQL_DATABASE=rareza_db

SECRET_KEY=change_me_to_a_random_64_char_string
ACCESS_TOKEN_EXPIRE_MINUTES=10080

CURRENCY=US$
APP_URL=http://localhost:8000

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
